<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles/chat.css">
    <title>Simple Chat Room</title>
</head>
<body>
    <div class="chatbox">
        <div class="chat"></div>
        <div class="inputbox">
            <textarea class="input" placeholder="Type here..."></textarea>
            <button class="button">Send</button>
        </div>
    </div>
</body>
</html>