<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles/login.css">
    <title>Login Page</title>
</head>
<body>
    <div class="header">
        <h1>Simple Chat Room</h1>
    </div>
    <div class="wrapper">
        <div class="form_box">
            <form action="#" method="post">
                <h1>login</h1>
                {% if login_error %}
                <div class="error_message">
                    <p>Invalid username or password</p>
                </div>
                {% endif %}
                <label class="label">Username:</label>
                <input type="text" name="username" class="input" placeholder="username" required>
                <label class="label">Password:</label>
                <input type="password" name="password" class="input" placeholder="password" required></br>
                <div class="login_button">
                    <input type="submit" class="button" value="login">
                </div>
            </form>
                <p class="register">Don't have an account? <a href="{{ url_for('register') }}">register</a></p>
        </div>
    </div>
</body>
</html>