<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles/login.css">
    <title>Login Page</title>
</head>
<body>
    <div class="header">
        <h1>Simple Chat Room</h1>
    </div>
    <div class="form_box">
        <form action="#" method="post">
            <p>Username:</p>
            <input type="text" name="username" class="input" placeholder="username" required>
            <p>Password:</p>
            <input type="password" name="password" class="input" placeholder="password" required></br>
            <div class="login_button">
                <input type="submit" class="button" value="login">
            </div>
        </form>
        <a href="register.html"><button class="button">register</button></a>
    </div>
</body>
</html>