<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles/login.css">
    <title>Register Page</title>
</head>
<body>
    <div class="header">
        <h1>Simple Chat Room</h1>
    </div>
    <div class="wrapper">
        <div class="form_box">
            <form action="#" method="post">
                <h1>register</h1>
                <label class="label">Username:</label>
                {% if username_error %}
                <div class="error_message">
                    <p>Username already exists!</p>
                </div>
                {% endif %}
                <input type="text" name="username" class="input" placeholder="username" required>
                <label class="label">Email:</label>
                {% if email_error %}
                <div class="error_box">
                    <p class="error_message">Email already exists!</p>
                </div>
                {% endif %}
                <input type="text" name="email" class="input" placeholder="example@gmail.com" required>
                <label class="label">Password:</label>
                <input type="password" name="password" class="input" placeholder="password" required></br>
                <div class="login_button">
                    <input type="submit" class="button" value="register">
                </div>
            </form>
        </div>
    </div>
</body>
</html>